/* Nav bar */

.nav-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.nav-button:hover {
    -fx-background-color:#2b395e;
}

/* Course overview */

.icon-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.course-preview-button {
    -fx-cursor: hand;
    -fx-border-color: #2b395e;
}